<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <beans>
        <bean id="bookService" class="com.alpha.ioc.domain.BookService">
            <property name="bookRepository" ref="bookRepository"></property>
        </bean>
    </beans>
    <beans profile="rdb">
        <bean id="bookRepository" class="com.alpha.ioc.persist.rdb.BookRepsitoryImp">
            <property name="dataSource" ref="dataSource"></property>
        </bean>
        <bean id="dataSource" class="com.alpha.ioc.persist.rdb.DataSource">
            <property name="dbConfig" value="db.properties"></property>
        </bean>
    </beans>

    <beans profile="mongodb">
        <bean id="bookRepository" class="com.alpha.ioc.persist.mongodb.BookRepositoryImp">
            <property name="dataSource" ref="dataSource"></property>
        </bean>
        <bean id="dataSource" class="com.alpha.ioc.persist.mongodb.DataSource">
            <constructor-arg name="database" value="ioc"></constructor-arg>
        </bean>
    </beans>

</beans>